@model TallinnaRakenduslikKolllež.Models.Department


@{
	ViewData["Title"] = "Kustuta Osakond";
}


<h2>@Html.DisplayFor(modelItem => Model.Name)</h2>

@if (ViewBag.action == "Delete")
{
	<P>
		<h3>Kustuta osakond:</h3>
	</P>
}
else if (ViewBag.action == "Details")
{
	<p>
		<h3>Osakonna andmed</h3>
	</p>
}
<div>

	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.Name)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Budget)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.Budget)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.StartDate)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.StartDate)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Administrator)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.Administrator)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.RowVersion)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.RowVersion)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.PhoneNumber)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.EndDate)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.EndDate)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.IsDeleted)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.IsDeleted)</dt>
	</dl>
	@if (ViewBag.action == "Delete")
	{
		<form asp-action="Delete">
			<input type="hidden" asp-for="DepartmentID" />
			<input type="hidden" asp-for="RowVersion" />
			<input type="submit" value="Kustuta" class="btn btn-danger" /> <a asp-action="Index">Tühista</a>
		</form>
	}
	else if (ViewBag.action == "Details")
	{
		<a asp-action="Index">Mine tagasi</a>
	}
</div>















