@model IEnumerable<TallinnaRakenduslikKolllež.Models.Department>

@{
	ViewData["Title"] = "Osakonnad";
}

<h1>Osakonnad</h1>

<p>
	<a asp-action="Create">Loo uus osakond</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(Model => Model.Name)</th>
			<th>@Html.DisplayNameFor(Model => Model.Budget)</th>
			<th>@Html.DisplayNameFor(Model => Model.StartDate)</th>
			<th>@Html.DisplayNameFor(Model => Model.Administrator)</th>
			<th>@Html.DisplayNameFor(Model => Model.RowVersion)</th>
			<th>@Html.DisplayNameFor(Model => Model.PhoneNumber)</th>
			<th>@Html.DisplayNameFor(Model => Model.EndDate)</th>
			<th>@Html.DisplayNameFor(Model => Model.IsDeleted)</th>
			<th>Tööriistad</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var department in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => department.Name)</td>
				<td>@Html.DisplayFor(modelItem => department.Budget)</td>
				<td>@Html.DisplayFor(modelItem => department.StartDate)</td>
				<td>@Html.DisplayFor(modelItem => department.Administrator)</td>
				<td>@Html.DisplayFor(modelItem => department.RowVersion)</td>
				<td>@Html.DisplayFor(modelItem => department.PhoneNumber)</td>
				<td>@Html.DisplayFor(modelItem => department.EndDate)</td>
				<td>@Html.DisplayFor(modelItem => department.IsDeleted)</td>
				<td>
					@* /* Muuda */ *@
					@* /* Vaata */ *@
					<a asp-action="Details" asp-route-id="@department.DepartmentID"  class="btn btn-primary">Details</a>
					@* /* Vaata Adminit */ *@
					@* /* Kustuta */ *@
					<a asp-action="Delete" asp-route-id="@department.DepartmentID" class="btn btn-danger">Kustuta</a>
				</td>
			</tr>
		}
	</tbody>
	</table>
