
@model TallinnaRakenduslikKolllež.Models.Course
@{
	ViewData["Title"] = "Kustuta kursus";
}
@if (ViewBag.action == "Delete")
{
	<h1>Kustata @Html.DisplayFor(Model => Model.Title)</h1>
	<h3>Oled kindel?</h3>
	<div>
		<h4>Kursus</h4>
		<hr />
		<dl class="row">
			<dt class="col-sm-2">@Html.DisplayNameFor(model => model.CourseID)</dt>
			<dt class="col-sm-2">@Html.DisplayFor(model => model.CourseID)</dt>
		</dl>
		<dl class="row">
			<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
			<dt class="col-sm-2">@Html.DisplayFor(model => model.Title)</dt>
		</dl>
		<dl class="row">
			<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Credits)</dt>
			<dt class="col-sm-2">@Html.DisplayFor(model => model.Credits)</dt>
		</dl>
		<dl class="row">
			<dt class="col-sm-2">@Html.DisplayNameFor(model => model.DepartmentID)</dt>
			<dt class="col-sm-2">@Html.DisplayFor(model => model.DepartmentID)</dt>
		</dl>

		<form asp-action="Delete">
			<input type="hidden" asp-for="CourseID" />
			<input type="submit" value="Kustuta" class="btn btn-danger" /> | <a asp-action="Index">Tühista</a>
		</form>
	</div>
}
else if (ViewBag.action == "Details")
{
	<h1>Andmed</h1>
	<div>
		<h4>Kursus</h4>
		<hr />
		<dl class="row">
			<dt class="col-sm-2">@Html.DisplayNameFor(model => model.CourseID)</dt>
			<dt class="col-sm-2">@Html.DisplayFor(model => model.CourseID)</dt>
		</dl>
		<dl class="row">
			<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
			<dt class="col-sm-2">@Html.DisplayFor(model => model.Title)</dt>
		</dl>
		<dl class="row">
			<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Credits)</dt>
			<dt class="col-sm-2">@Html.DisplayFor(model => model.Credits)</dt>
		</dl>
		<dl class="row">
			<dt class="col-sm-2">@Html.DisplayNameFor(model => model.DepartmentID)</dt>
			<dt class="col-sm-2">@Html.DisplayFor(model => model.DepartmentID)</dt>
		</dl>


		<a asp-action="Index">Mine tagasi</a>
	</div>
}