@model IEnumerable<TallinnaRakenduslikKolllež.Models.Course>

@{
	ViewData["Title"] = "Kursused/Õppeained";
}

<h2>Kursused</h2>
<p>
	
	<a asp-action="Create">Tee uus Kursus</a>
</p>

<table class="table">

	<thead>
		<tr>
			<th> @Html.DisplayNameFor(model => model.CourseID)</th>
			<th> @Html.DisplayNameFor(model => model.Title)</th>
			<th> @Html.DisplayNameFor(model => model.Credits)</th>
			<th> @Html.DisplayNameFor(model => model.Department.Name)</th>
			@*<th> @Html.DisplayNameFor(model => model.Department.Administrator.FullName)</th>*@
			<th>Tööriistad</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var course in Model)
		{
			<tr>
				
				<td>
					@Html.DisplayFor(modelItem => course.CourseID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => course.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => course.Credits)
				</td>
				<td>
					@Html.DisplayFor(modelItem => course.Department.Name)
				</td>
				@*			<tr>
				@Html.DisplayFor(modelItem => course.Department.Administrator.FullName)
			</tr>*@
				<th>
				<a asp-action="Delete" asp-route-id="@course.CourseID">Kustuta</a>
				<a asp-action="Details" asp-route-id="@course.CourseID">Vaata</a>
				<a asp-action="Edit" asp-route-id="@course.CourseID">Muuda</a>
			</tr>

		}
	</tbody>
</table>
