@model TallinnaRakenduslikKolllež.Models.Delinquent
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<h4>Kurjategijad</h4>

<hr />
<dl class="row">
    <dt class="col-sm-2"> @Html.DisplayNameFor(Model => Model.DelinquentID) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.DelinquentID)</dd>
</dl>
<dl class="row">
    <dt class="col-sm-2"> @Html.DisplayNameFor(Model => Model.FirstName) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.FirstName)</dd>
</dl>
<dl class="row">
    <dt class="col-sm-2"> @Html.DisplayNameFor(Model => Model.LastName) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.LastName)</dd>
</dl>
<dl class="row">
    <dt class="col-sm-2"> @Html.DisplayNameFor(Model => Model.CurrentViolation) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.CurrentViolation)</dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.OnOpetaja) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.OnOpetaja)</dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Description) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.Description)</dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Olukord) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.Olukord)</dd>
</dl>



<div>
    <a asp-action="Index">Mine tagasi loendisse</a>

</div>
