
@model IEnumerable<TallinnaRakenduslikKolllež.Models.Delinquent>
@{
	ViewData["Title"] = "Kurjategija";
}

<h2>Kurjategijad</h2>
<p>
	<a asp-action="Create">Tee uus kurjategija</a>
</p>

<table class="table">

	<thead>
		<tr>
			<th> @Html.DisplayNameFor(model => model.DelinquentID)</th>
			<th> @Html.DisplayNameFor(model => model.FirstName)</th>
			<th> @Html.DisplayNameFor(model => model.LastName)</th>
			<th> @Html.DisplayNameFor(model => model.CurrentViolation)</th>
			<th> @Html.DisplayNameFor(model => model.OnOpetaja)</th>
			<th> @Html.DisplayNameFor(model => model.Description)</th>
			<th> @Html.DisplayNameFor(model => model.Olukord)</th>
			<th>Tööriistad</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var delinquent in Model)
		{

			<tr>
				<td>
					@Html.DisplayFor(modelItem => delinquent.DelinquentID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => delinquent.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => delinquent.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => delinquent.CurrentViolation)
				</td>
				<td>
					@Html.DisplayFor(modelItem => delinquent.OnOpetaja)
				</td>
				<td>
					@Html.DisplayFor(modelItem => delinquent.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => delinquent.Olukord)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@delinquent.DelinquentID" class="btn btn-primary">Muuda</a>
					<a asp-action="Details" asp-route-id="@delinquent.DelinquentID" class="btn btn-primary">Vaata</a>
					<a asp-action="Delete" asp-route-id="@delinquent.DelinquentID" class="btn btn-danger">Kustuta</a>
				</td>
			</tr>
		}
	</tbody>
</table>