
@model TallinnaRakenduslikKolllež.Models.Instructor
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<h4>Instructors</h4>

<hr />
<dl class="row">
    <dt class="col-sm-2"> @Html.DisplayNameFor(Model => Model.LastName) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.LastName)</dd>
 </dl>
 <dl class="row">
    <dt class="col-sm-2"> @Html.DisplayNameFor(Model => Model.FirstName) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.FirstName)</dd>
 </dl>
 <dl class="row">
    <dt class="col-sm-2"> @Html.DisplayNameFor(Model => Model.HiredDate) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.HiredDate)</dd>
 </dl>
<dl class="row">
    <dt class="col-sm-2"> @Html.DisplayNameFor(Model => Model.OfficeAssignments) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.OfficeAssignments)</dd>
 </dl>
<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Salary) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.Salary)</dd>
 </dl>
 <dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.RoomID) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.RoomID)</dd>
 </dl>
 <dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Email) </dt>
    <dd class="col-sm-10"> @Html.DisplayFor(Model => Model.Email)</dd>
 </dl>


</dl>
<div>
    <a asp-action="Index">Mine tagasi loendisse</a>

</div>
